.list {
    width: 100%;
    max-height: 260px;
    overflow-y: scroll;
    min-height: 180px;
  }
  
  .list-item {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 2px;
    text-align: left;
    border: 1px solid rgb(26, 24, 22);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
  
  }
  .list-item-done {
    background: rgba(46, 89, 125, 0.5);
    border-color: transparent;
    color: white;
  }